body {
    margin: 0;
}

.block-1 {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex; 
    justify-content: space-between;
    background-color: darkblue;
    padding: 30px 15%;
}

.header img {
    height: 150px;
    width: auto;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink;
    width: 500px;
}

.banner {
    display: flex;
    justify-content: center;
    padding: 30px 15%;
}

.banner-text {
    display: block;
    width: 50%;
    padding-right: 5%;
}

.banner img {
    width: 50%;
    height: auto;
}

